

$primary:#06C755;
$slight-primary:#EEFFEF;

$background:#F9F3ED;
$gray-background:#EEEAE6;
$dark-background:#B3B3B3;
$darker-background:#807F7F;

$white:#FFFFFF;
$white-gray:#D9D9D9;
$gray:#999999;
$white-dark:#666666;
$dark:#4D4D4D;
$black:#000000;

$link-active:#5CA1E5;
$warning:#FFDC71;
$yes:#0EBB6B;
$no:#DC3545;