@import '../setting/const.scss';
@import '../utility/text.scss';

#statusMessage{
    padding-left: 30px;
    padding-top: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.posts{
    
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    padding:30px;
    
    a{
        width:calc((100% - 20px)/2);
        background:$white;

        .thumbnail{
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
        }
        
        .discription{
            display: flex;
            gap:14px;
            flex-direction: column;
            margin:14px 20px;
            overflow:hidden;/*to use child margin as parent size*/
            word-break:break-all;
            
            

            h2{
                height:46px;
                min-width: 0px;
            
                font-weight: 700;
                font-size: 1rem;

                @include showNLine(2);
            
                color: $black;
            }

            p{
                position: relative;
                height:57px;
                min-width: 0px;
            
                font-weight: 400;
                font-size: 13px;
                
                @include showNLine(3);
                
                color: $dark;
            }
        }
    }
}






