<footer>
    <div class="container">
        <a href="/contents">
            <h1 id="footer_title">LINE POSTING</h1>
        </a>
        <a href="#">
            <p class="footer_link" id="toTop"><i class="fa-solid fa-angle-up"></i>TOPへ戻る</p>
        </a>
    </div>
    
</footer>