<header>
    <div class="container">
        <a href="/contents">
            <h1>LINE POSTING</h1>
        </a>
        <a href="/contents#MonthlyArchive">
        <p id="archive">アーカイブ</p>
        </a>
        <a href="/contents">
        <p id="latest">最新記事</p>
        </a>
        
    </div>
</header>